.postcard {
  padding: 1rem;
  margin: 1rem;
  border: 0.4rem ridge rgb(0, 162, 190, 0.5);
}

.post-creation-info {
  display: flex;
  width: 100%;
}

.pfp {
  width: 2rem;
}

.post-content-info {
  display: flex;
  width: 100%;
}

.post-content-info-text {
  width: 100%;
  padding: 1rem 0;
}

.post-pic {
  width: 10rem;
}

.post-options {
  width: 100%;
  display: flex;
}
