.postcardWrapper {
  padding: 1rem;
  margin: 0.5rem;
  border: solid 2px var(--border-color);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.postImage {
  display: block;
  z-index: -1;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  object-fit: cover;
  height: auto;
}

.postcard {
  position: relative;
  overflow: hidden;
}

.postCreationInfo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
}

.postCreationInfo > h3 {
  text-align: left;
  font-size: 1rem;
  margin: 0.5rem;
}

.pfp {
  object-fit: cover;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
}

.postContentInfo {
  display: flex;
  width: 100%;
}

.postContentInfoText {
  text-align: left;
  margin-right: 20%;
  width: 100%;
  padding: 1rem;
}

.postContentInfoText > p {
  margin: 0.5rem 0;
}

.deleteButton {
  position: absolute;
  font-size: 0.8rem;
  bottom: 1rem;
  right: 1rem;
  padding: 0.3rem;
  border-radius: 1rem;
  color: white;
  background: rgb(255, 0, 0);
}

.deleteButton:hover {
  background: rgb(200, 0, 0);
  cursor: pointer;
}

.expandButton {
  background: transparent;
  border: none;
  cursor: pointer;
}
