.postcardWrapper {
  padding: 1rem;
  margin: 0.5rem;
  border: solid 2px var(--border-color);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.postImage {
  display: block;
  z-index: -1;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.postcard {
  position: relative;
  overflow: hidden;
}

.post-creation-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
}

.post-creation-info > h3 {
  font-size: 1rem;
  margin: 0.5rem;
}

.pfp {
  object-fit: cover;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
}

.post-content-info {
  display: flex;
  width: 100%;
}

.post-content-info-text {
  width: 100%;
  padding: 1rem 0;
}

.post-options {
  width: 100%;
  display: flex;
}
