span > a {
  color: #003863;
  cursor: pointer;
}

.pythonSection {
  position: relative;
}

.pythonTextContainer {
  width: calc(100% - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pythonHeader {
  color: #003863;
  font-size: 2rem;
  margin-top: 2rem;
}

.pythonText {
  font-size: 1.3rem;
}

.pythonUnorderedList {
  margin: 2rem 0;
  display: flex;
  grid-gap: 2rem;
  list-style-type: none;
}

.pythonUnorderedListMobile {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  list-style-type: none;
}

.pythonUnorderedListMobile > li,
.pythonUnorderedList > li {
  font-size: 1rem;
  color: #6e4b00;
  width: 10rem;
}

.pythonUnorderedListMobile > li > h3,
.pythonUnorderedListMobile > li > a > h3,
.pythonUnorderedList > li > h3,
.pythonUnorderedList > li > a > h3 {
  font-size: 2rem;
}
.pythonUnorderedListMobile > li > a,
.pythonUnorderedList > li > a {
  font-size: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.pythonWheel {
  position: fixed;
  top: 20vh;
  left: 10vw;
}
