[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
psycopg2 = "*"
flask-login = "*"
flask-migrate = "*"
pyenchant = "*"
boto3 = "*"
awscli = "*"
werkzeug = "*"
s3 = "*"
flask-limiter = "*"
itsdangerous = "<2.1.0"
twilio = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
