.flash {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 3rem);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 1111;
}

.info {
  color: var(--text);
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--info);
}

.error {
  color: var(--text);
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--error);
}

.success {
  color: var(--text);
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--success);
}
