.flash {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 3rem);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 1111;
}

.info {
  font-size: 2rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: rgb(24, 173, 173, 0.5);
}

.error {
  font-size: 2rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 0, 0, 0.5);
}

.success {
  font-size: 2rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 255, 0, 0.5);
}
