.postcard {
  padding: 2rem;
}

.post-creation-info {
  display: flex;
  width: 100%;
}

.pfp {
  width: 2rem;
}

.post-content-info {
  display: flex;
  width: 100%;
}

.post-content-info-text {
}

.post-pic {
  width: 10rem;
}

.post-options {
  width: 100%;
  display: flex;
}

.link {
  display: inline-block;
}
