* {
  margin: 0;
  padding: 0;
}

.name--logo {
  position: absolute;
  top: 0;
  left: -5;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.link {
  color: #0c63d6;
  text-decoration: none;
}

.joe {
  font-size: 2rem;
}

.luciano {
  display: flex;
  position: relative;
  left: 0.5rem;
  font-size: 2rem;
}
