.page {
  width: 100%;
  position: absolute;
  top: 0;
}

.intro {
  text-align: right;
  line-height: 2rem;
}

.mobile-intro {
  text-align: center;
  top: -5rem;
  font-size: 0.8rem;
  line-height: 2rem;
  padding: 1rem;
}

.salutation {
  left: -4rem;
  text-align: left;
}

.mobile-salutation {
  top: 2rem;
  left: 4rem;
  text-align: left;
}

.link {
  color: #2e39d3;
  text-decoration: none;
}

.block-text {
  line-height: 4rem;
}

.page-content {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 80vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.posts-page {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  margin-top: 10rem;
}

.posts {
  width: 1000px;
  display: flex;
  flex-direction: column;
}
