:root {
  --blue: #6495ed;
  --white: #faf0e6;
  --nav-width: 10rem;
  --nav-height: 12rem;
  --button-width: 2rem;
  --button-height: 2rem;
  --button-position-bottom: 0.5rem;
  --button-position-right: 0.5rem;
}

.mobileNav {
  position: fixed;
  width: var(--nav-width);
  height: var(--nav-height);
  bottom: 1rem;
  right: 1rem;
}

.mobileNavContents {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileNavButton {
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  bottom: var(--button-position-bottom);
  right: var(--button-position-right);
  width: var(--button-width);
  height: var(--button-height);
  background: var(--white);
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileHeaderItems {
  display: inline-grid;
  grid-gap: 0.5rem;
}

.mobileHeaderItem {
  text-align: center;
  color: black;
  text-decoration: none;
}
