.text-container {
  display: inline-block;
}

.main-text {
  padding-right: 0.5rem;
}

.sub-text {
  color: #002d04;
  text-decoration: underline;
  position: absolute;
  font-family: 'Indie Flower';
  font-size: 20px;
  white-space: nowrap;
}
