.form {
  width: calc(100% - 4rem);
  border: solid gray;
  margin: 4rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  margin-bottom: 1rem;
  align-self: start;
}

.textInputContainer {
  position: relative;
  display: flex;
  margin: 0.5rem 0;
  width: 100%;
}

.textInput {
  font-size: 1rem;
  padding: 0.7rem;
  width: 100%;
}

.submitButton {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  color: aliceblue;
  background: rgba(0, 36, 82, 0.5);
  cursor: pointer;
}
