.App {
  height: 100vh; /* Magic here */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffffff 0%, rgb(235, 235, 235) 200%);
}
