:root {
  --success: #009944;
  --error: #cf000f;
  --warning: #f0541e;
  --info: #63c0df;
  --text: #000a61;
  --darkendGreen: #064600;
  --darkendYellow: #836b00;
  --darkendRed: #7e0000;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;
  --border-color: #aaaaaa;
  --white: #faf0e6;
  --bing-green: #00704f;
  --intel-blue: #0071c5;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Roboto',
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  background: linear-gradient(180deg, #ffffff -100%, rgb(235, 235, 235) 100%);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
