html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Roboto',
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  background: linear-gradient(180deg, #ffffff -100%, rgb(235, 235, 235) 100%);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
