.header {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header > * {
  font-size: 1.4rem;
}

.headerItems {
  display: inline-grid;
  grid-auto-flow: column;
  margin-top: 1rem;
  margin-left: 9rem;
}

.headerItem {
  margin: 0 1.5rem;
  text-align: center;
  color: #1985af;
  text-decoration: none;
}

.userItems {
  display: inline-grid;
  position: absolute;
  right: 0;
  margin-top: 1rem;
  margin-right: 3rem;
}

.userItem {
  margin-bottom: 1rem;
  text-align: center;
  color: #1985af;
  text-decoration: none;
  font-size: 2rem;
}
