.header {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-items {
  display: inline-grid;
  grid-template-columns: repeat(6, 8rem);
  width: 100%;
  margin-top: 1rem;
  margin-left: 8rem;
}

.header-item {
  text-align: center;
  color: #1985af;
  text-decoration: none;
}
