.header {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header > * {
  font-size: 1.5rem;
}

.header-items {
  display: inline-grid;
  grid-template-columns: repeat(6, 12rem);
  width: 100%;
  margin-top: 1rem;
  margin-left: 9rem;
}

.header-item {
  text-align: center;
  color: #1985af;
  text-decoration: none;
}

.user-items {
  display: inline-grid;
  position: absolute;
  right: 0;
  margin-top: 1rem;
  margin-right: 3rem;
}

.user-item {
  margin-bottom: 1rem;
  text-align: center;
  color: #1985af;
  text-decoration: none;
  font-size: 2rem;
}
